{% extends "experimenter/header.html" %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Share " %} {{exp_title}} {% endblock %}
{% block title %}{% trans "Share " %}{{exp_title}}{% endblock %}

{% block content %}          
  
<div>
<!-- List of valid tokens -->
        
    <table class = "table table-striped">
        <tr>
            <td>Permalink (Only for experimenter test purposes. Does not log data)</td>
        </tr>

        <tr>
            {% if perma_token %}
            <td><a href="{{ BASE_URL }}/{{ perma_token.token }}">{{ BASE_URL }}/{{ perma_token.token }}</a></td>
            {% else %}
            <td>No Permalink</td>
            {% endif %} 
        </tr>
        
  
    </table>
    
    <div class="row margin-20">
        <div class="col-sm-offset-3 col-sm-3">
            <a href="{% url "create_token" exp_id %}"><img src="/static/img/icons/add-notes.png" alt="ok" width="40" height="40"> Create New Tokens</a>
        </div>
        
        {% if active_tokens or inactive_tokens %}
        <div class="col-sm-3">
            <a href="{% url "export_token_csv" exp_id %}"><img src="/static/img/icons/download.png" alt="ok" width="40" height="40"> Download Tokens</a>
        </div>
        {% endif %}
        
        
    </div>


    
    <table class = "table table-striped">
        <tr>
            <td class= "col-sm-6">Active Tokens</td>
            <td class= "col-sm-1">Token used</td>
            <td class= "col-sm-1">Subject no.</td>
        </tr>
    {% if active_tokens %}
        
        {% for token in active_tokens %}
        <tr>
            <td><a>{{ BASE_URL }}/{{ token.token }}</a></td>
            <td>{{ token.used }}</td>
            <td>{{ token.subject_nr }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No Active Tokens</td>
            <td> </td>
            <td> </td>
        </tr>
    {% endif %} 
    </table>
    
    
    <table class = "table table-striped">
        <tr>
            <td class= "col-sm-6">Inactive Tokens</td>
            <td class= "col-sm-1">Token used</td>
            <td class= "col-sm-1">Subject no.</td>
        </tr>
    {% if inactive_tokens %}
        {% for token in inactive_tokens %}
        <tr>
            <td><a>{{ BASE_URL }}/{{ token.token }}</a></td>
            <td>{{ token.used }}</td>
            <td>{{ token.subject_nr }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No Inactive Tokens</td>
            <td> </td>
            <td> </td>
        </tr>
    {% endif %}   
    </table>
    
 </div>   

{% endblock %}
