{% extends "experimenter/header.html" %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Overview" %}{% endblock %}
{% block title %}{% trans "Overview" %}{% endblock %}

{% block content %}          

<div>

    <table class = "table result-table">
        {% if results  %}
        {% for res in results %}
        <thead>
        <tr>
            <td class= "td_size">Subject: {{ res.0 }} </td>
            {% for title_name in res.1 %}
                <td class= "td_size"> {{ title_name }} </td>
            {% endfor %}
        </tr>
        </thead>
        {% for row in res.2 %}
        <tbody>
        <tr>
            <td class= "td_size"> </td>
                {% for col in row %}
                    <td class= "td_size">{{ col }} </td>
                {% endfor %}
        </tr>
        </tbody>
        {% endfor %}
        
        {% endfor %}
    {% else %}
        <p>No results</p>
    {% endif %}   
    
    </table>

 </div>   

{% endblock %}
