{% extends "experimenter/header.html" %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Create share tokens" %}{% endblock %}
{% block title %}{% trans "Create share tokens" %}{% endblock %}


{% block content %} 


<script type="text/javascript">
{% if error_message %}
    alert('{{ error_message }}');
{% endif %}
</script>
<div>
    <form class="form-horizontal" role="form" action="{% url "create_token" exp_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        
        <div class="form-group">
            <label for="nr_of_tokens" class="col-sm-3 control-label">Nr of tokens:</label>
            <div class="col-sm-9">
                <input id="nr_of_tokens" name="nr_tokens" type="number" class="form-control" placeholder="Nr tokens">
            </div>
        </div>
        <div>
            <div class="col-sm-offset-3 col-sm-9">
                
                <button type="submit" style="border: 0; background: transparent">
                    <img src="/static/img/icons/add-notes.png" width="40" height="40" alt="create" />
                </button>

            </div>
        </div>
        
        
    </form>

</div>

{% endblock %}


