{% extends "experimenter/header.html" %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Edit" %}{% endblock %}
{% block title %}{% trans "Edit" %}{% endblock %}


{% block content %}   

<div>
    <form class="form-horizontal" role="form" action="{% url "edit_view" experiment_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        {% if exp %} 
        
        <div class="form-group">
            <label for="id_title" class="col-sm-3 control-label">Choose a Title:</label>
            <div class="col-sm-9">
                <input id="id_title" name="title" type="text" class="form-control" value="{{ exp.title }}">
            </div>
        </div>
        
        <div class="form-group">
            <label for="id_start_date" class="col-sm-3 control-label">Start date:</label>
            <div class="col-sm-9">
                <input id="start_datepicker_edit" name="start_date" type="text" class="form-control" value="{{ exp.start_date|date:"Y-m-d" }}">
            </div>
        </div>
        
        <div class="form-group">
            <label for="id_end_date" class="col-sm-3 control-label">End date:</label>
            <div class="col-sm-9">
                <input id="end_datepicker" name="end_date" type="text" class="form-control" value="{{ exp.end_date|date:"Y-m-d" }}">
            </div>
        </div>
        
        <div>
            <div class="col-sm-offset-3 col-sm-9">
                
                <button type="submit" style="border: 0; background: transparent">
                    <img src="/static/img/icons/upload.png" width="40" height="40" alt="submit" />
                </button>

            </div>
        </div>
        
        {% endif %}
    </form>

</div>

{% endblock %}



