<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block head_title %}{% endblock %}</title>
        <link rel="icon" type= "image/x-icon" href="{% static "img/icons/favicon.ico" %}" />
        
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <link rel="stylesheet" href= "/static/bootstrap/css/bootstrap.min.css" type="text/css" media="screen, projection" />

        <link rel="stylesheet" href= "/static/css/main.css" type="text/css" />
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src= "/static/bootstrap/js/bootstrap.min.js"></script>


        <script>
            $(function() {
                $( "#start_datepicker_upload" ).datepicker({ dateFormat: "yy-mm-dd" }).datepicker('setDate', new Date());
                $( "#start_datepicker_edit" ).datepicker({ dateFormat: "yy-mm-dd" });
                $( "#end_datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
            });
        </script>

    </head>
    
    <body>
        <div class= "container-fluid">
            <div class= "row margin-20" >
                <div class= "col-sm-2">
                    <img src="/static/img/logo.png" alt="OpenSesame" width="60" height="60" >
                </div>
                
                <div class= "col-sm-8">
                    <h1>{% block title %}{% endblock %}</h1>       
                </div>
                
                <div class= "col-sm-2">
                   {% if request.user.is_authenticated %}
                    <div class= "pull-right">
                    {% if request.user.first_name or request.user.last_name %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
                    <a href="/accounts/logout/">Logout</a>
                    </div> 
                    {% endif %}
                </div>

            </div>
            
            <div class= "row margin-20">
                <div class= "col-sm-2 menu-bar">
                    <div class= "menu">
                        <ul class="list-unstyled">
                            <li><b>Main Menu</b></li>
                            <li><img src="/static/img/icons/notes.png" alt="ok" width="18" height="18"><a href="/experimenter/list">Experiments</a></li>
                            <li><img src="/static/img/icons/add.png" alt="ok" width="18" height="18"><a href="/experimenter/upload">Create new</a></li>
                            <li><b>User Settings</b></li>
                            <li><img src="/static/img/icons/user.png" alt="ok" width="20" height="20"><a >Profile</a></li>
                            <li><img src="/static/img/icons/edit-user.png" alt="ok" width="20" height="20"><a >Settings</a></li>
                            <li><img src="/static/img/icons/faq.png" alt="ok" width="18" height="18"><a href="/experimenter/help">Help</a></li>


                         </ul>
                    </div>
                </div>
                <div class= "col-sm-8">
                   {% block content %}{% endblock %} 
                
                </div>
            </div>
            
            <div class= "row colofon-box">
                <div class="col-sm-2">
                Open Sesame Online is an online viewer of the <a href= "http://osdoc.cogsci.nl/">Open Sesame</a> free and cross-platform experiment builder. 

                </div>
                <div class="col-sm-8">
                Open Sesame Online was developed in a collaborative effort of Eva de Hullu (Klinische Psychologie, Open Universiteit Nederland) Sebastiaan Mathôt and Daniel Schreij (Department of Cognitive Psychology, Vrije Universiteit) as a Giphouse project by Sakis Brouzioutis, Laurens van den Bercken, Ben Brucker, Maarten Kerrebijn, Michail Kuznetcov, Iris Monster, Jeftha Spunda, Tom van de Poll, Willem de Wit.
                </div>
            </div>
            
        </div>
    
        
        
        
    </body>
    
</html>
